.git
.gitignore
.gitattributes

.vscode
.idea
.cursor
.zed
.nova
.codex

node_modules
vendor

public/build
public/hot

.env
.env.*
!.env.example

database/database.sqlite

storage/logs/*
!storage/logs/.gitignore

storage/framework/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore

storage/app/public/*
!storage/app/public/.gitignore

bootstrap/cache/*
!bootstrap/cache/.gitignore

.phpunit.cache
.phpunit.result.cache

*.log

docker-compose.yml
docker-compose.override.yml
docker-compose.prod.yml