# Dependencies
/node_modules
/vendor

# Build outputs
/public/build
/public/hot
/public/storage
/public/fonts-manifest.dev.json

# Environment
/.env
/.env.backup
/.env.production

# IDE
/.vscode
/.idea
/.zed
/.nova
/.cursor
/.codex

# Dev tools
.phpunit.cache
.phpunit.result.cache
.phpactor.json
_ide_helper.php

# Database
/database/database.sqlite

# Storage
/storage/*.key
/storage/pail
/storage/logs/*
/storage/framework/*
/cache

# Docker
docker-compose.override.yml

# Lefthook
lefthook-local.yml

# Misc
*.log
*.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml

# Text files
*.md
!README.md
*.txt

